* {
  margin: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #e0e6e9;
}
.main-conteiner {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/* main conent */

.main-content {
  padding: 50px 50px;
}

.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
}

.abaut-me-professin {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 17px;
  color: #000;
  margin-bottom: 20px;
}
.abaut-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin-bottom: 25px;
}

.abaut-me-description {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-progects {
  margin: 25px 0px;
}

.my-progects-list {
  padding: 0 0 0 17px;
}

.my-progects-item {
  color: #000;
  font-weight: bold;
}

.my-progects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}

.my-progects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.my-work-experience-company {
  color: #fb6d3a;
}

.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin: 10px 0px;
}

.my-work-experience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #646363;
}
.experience-period {
  color: #000;
  font-weight: bold;
}
.my-work-experience-duties {
  padding: 0 0 0 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #0a0a0a;
}
.education-certificate {
  position: absolute;
  left: 20%;
  top: 20%;
  z-index: 2;
}
.education-certificate img {
  width: 70%;
  transition: transform 500ms ease;
}
/* hg */
.close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 40px;
  height: 40px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}

.close:hover {
  transform: rotate(180deg);
}

.close span {
  width: 20px;
  height: 1px;
  background: #000;
  position: absolute;
}

.close span:first-child {
  transform: rotate(45deg);
}

.close span:last-child {
  transform: rotate(135deg);
}
.popup__close {
  background: #1e2939;
  right: 300px;
  top: 10px;
  z-index: 2;
}
.popup__close span {
  background: white;
}
/* bt */
button {
  height: 1.6em;
  width: 19em;
  background: transparent;
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
  border: 1px solid #1e2939;
  outline: none;
  color: #fb6d3a;
  font-size: 17px;
  border-radius: 15px;
}

button:hover {
  background: #fb6d3a;
  color: #ffffff;
  animation: squeeze3124 0.9s both;
}

@keyframes squeeze3124 {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* sidebar */
.foto {
  width: 370px;
  border-radius: 0px;
  box-shadow: 4px 4px 35px rgba(0, 0, 0, 0.2);
  transition: transform 500ms ease;
}
img:hover {
  transform: scale(1.16) translateY(-2px);
  -webkit-box-shadow: 23px 10px 30px -1px rgba(0, 0, 0, 0.81);
  box-shadow: 23px 10px 30px -1px rgba(0, 0, 0, 0.81);
}
.sidebar {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
}

.Soft-Skills,
.tech-Skills,
.contacts {
  margin: 50px 0 0 40px;
}
.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}
/* sidebar contacts */
.contacts-type {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 7px;
}

.contacts-link {
  color: #dae2ee;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
/* tech Skills & Soft-Skills */

.Soft-Skills-list,
.tech-Skills-list {
  padding: 0 0 0 17px;
}
.tech-Skills-item {
  color: #fb6d3a;
}
.tech-Skills-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
.content-hidden {
  display: none;
}
